In [1]:
numero1 = input('Digite o primeiro número: ')
numero2 = input('Digite o segundo número: ')

Digite o primeiro número: 5
Digite o segundo número: 3

In [2]:
numero1

'5'

In [3]:
numero2

'3'

In [4]:
soma = numero1 + numero2

In [5]:
print(soma)

53

In [6]:
numero1 = int(input('Digite o primeiro número: '))
numero2 = int(input('Digite o segundo número: '))

Digite o primeiro número: 5
Digite o segundo número: 3

In [7]:
soma = numero1 + numero2

In [8]:
print(soma)

8

In [9]:
type(int('4'))

int

In [10]:
Data1 = int(input('Primeiro número: '))
Data2 = int(input('Segundo número: '))

Primeiro número: 5
Segundo número: 6

In [11]:
Data2

6

In [ ]:
# exercício 01 - Imprima "Coding Tank 744"

In [13]:
print("""Coding Tank 744"")

SyntaxError: EOF while scanning triple-quoted string literal (Temp/ipykernel_12896/1059553756.py, line 1)

In [14]:
print("Coding Tank 744")

Coding Tank 744

In [15]:
input('digite o salário1: ')
input('digite o salário2: ')
input('digite o salário3: ')
input('digite o salário4: ')
input('digite o salári 5: ')
print('salário1: ')

SyntaxError: invalid syntax (Temp/ipykernel_12896/3564664101.py, line 6)

In [19]:
input('digite o salário1: ')
input('digite o salário2: ')
input('digite o salário3: ')
input('digite o salário4: ')
input('digite o salário5: ')
print(salário1)

digite o salário1: 1000
digite o salário2: 2000
digite o salário3: 3000
digite o salário4: 4000
digite o salário5: 5000

NameError: name 'salário1' is not defined

In [24]:
salarioF1 = int(input('digite o salário1: '))
salarioF2 = int(input('digite o salário2: '))
salarioF3 = int(input('digite o salário3: '))
salarioF4 = int(input('digite o salário4: '))
salarioF5 = int(input('digite o salário5: '))

print(salarioF1)
print(salarioF2)
print(salarioF3)
print(salarioF4)
print(salarioF5)

digite o salário1: 1000
digite o salário2: 2000
digite o salário3: 3000
digite o salário4: 4000
digite o salário5: 5000
1000
2000
3000
4000
5000

In [22]:
salario_medio = int((salarioF1 + salarioF2 + salarioF3 + salarioF4 + salarioF5)/5)
print(salario_medio)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [23]:
salario_medio = int((salarioF1 + salarioF2 + salarioF3 + salarioF4 + salarioF5)/5)
print(salario_medio)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [27]:
salario_medio = (salarioF1 + salarioF2 + salarioF3 + salarioF4 + salarioF5)/5
print(salario_medio)

3000.0

In [28]:
valor_metros = int(input('digite valor em m'))
valor_centimetros = valor_metros * 100

digite valor em m10

In [ ]:
# inserir um valor em metros e apresentá-lo em centímetros

In [34]:
valor_metros = int(input('digite valor em metros: '))
valor_centimetros = valor_metros * 100
print(valor_centimetros, 'cm')

digite valor em metros: 10
1000 cm

In [ ]:
# peça ao usuário para inserir a temperatura em farenheit e calcular e apresentar o valor em celsius

In [42]:
temperatura_farenheit = float(input('digite a temperatura em farenheit: '))
temperatura_celsius = 5 * ((temperatura_farenheit - 32)/9)
print(temperatura_celsius, 'C')

digite a temperatura em farenheit: 50
10.0 C

In [44]:
temperatura_farenheit = int(input('digite a temperatura em farenheit: '))
temperatura_celsius = 5 * ((temperatura_farenheit - 32)/9)
print(temperatura_celsius, 'C')

digite a temperatura em farenheit: 55
12.777777777777777 C

In [49]:
valor_hora = float(input('digite valor hora: '))
horas_trabalhadas = float(input('digite horas trabalhadas: '))
salario_bruto = valor_hora * horas_trabalhadas # print(salario_bruto)
imposto_renda = salario_bruto * 0.11
inss = salario_bruto * 0.08
sindicato = salario_bruto * 0.05
salario_liquido = salario_bruto - imposto_renda - inss - sindicato
print('Salário Bruto = ', salario_bruto)
print('Imposto de Renda = ', imposto_renda)
print('INSS = ', inss)
print('Sindicato = ', sindicato)
print('Salário Líquido = ', salario_liquido)

digite valor hora: 50
digite horas trabalhadas: 200
Salário Bruto =  10000.0
Imposto de Renda =  1100.0
INSS =  800.0
Sindicato =  500.0
Salário Líquido =  7600.0

In [50]:
var = 5.345

In [52]:
var_round = round(var, 1)

In [53]:
print(var_round)

5.3

In [55]:
var_round = round(var, 2)

In [56]:
print(var_round)

5.34

In [57]:
renda = 1500
valor_minimo = 1200

In [58]:
renda < valor_minimo

False

In [59]:
5 == 4

False

In [60]:
5 = 4

SyntaxError: cannot assign to literal (Temp/ipykernel_12896/2094994168.py, line 1)

In [61]:
5 == 5

True

In [62]:
renda == 1500

True

In [63]:
renda != 1500

False

In [64]:
renda <= 1500

True

In [65]:
renda < 1500

False

In [66]:
'alexandre'<'joao'

True

In [67]:
'b'<'a'

False

In [68]:
nome = "Fulano"
valor_emprestimo = 10000
renda = 2500

In [70]:
 coneceder = renda > valor_emprestimo * 0.3