### Capítulo 01

In [1]:
print('Hello Python World')

Hello Python World

www.python.org

### Capítulo 02

In [2]:
message = 'Hello Python World'
print(message)

Hello Python World

In [4]:
'This is a string'
'This is also a string'

'This is also a string'

In [5]:
name = 'ada lovelace'
print(name.title())

Ada Lovelace

In [6]:
name = 'Ada Lovelace'
print(name.upper())
print(name.lower())

ADA LOVELACE
ada lovelace

In [7]:
first_name = 'ada'
last_name = 'lovelace'
full_name = f'{first_name} {last_name}'
print(full_name)

ada lovelace

In [8]:
print(f'Hello, {full_name.title()}!')

Hello, Ada Lovelace!

In [9]:
full_name = '{} {}'.format(first_name, last_name)

In [10]:
print(full_name)

ada lovelace

In [11]:
print("Python")

Python

In [12]:
print("\tPython")  #To add a tab

	Python

In [13]:
print("Languages:\nPython\nC\nJavaScript") #To add a newline in a string, use the character combination \n:

Languages:
Python
C
JavaScript

In [14]:
print('Languages:\n\tPython\n\tC\n\tJavaScript')

Languages:
	Python
	C
	JavaScript

In [15]:
favorite_language = 'python '
favorite_language

'python '

In [16]:
favorite_language.rstrip() # retira espaço à direita

'python'

In [17]:
favorite_language

'python '

In [18]:
favorite_language = 'python '
favorite_language = favorite_language.rstrip()
favorite_language

'python'

In [19]:
favorite_language = ' python'
favorite_language.lstrip()

'python'

In [20]:
favorite_language = ' python '
favorite_language.strip()

'python'

In [21]:
# Integers

2+3

5

In [22]:
3-2

1

In [23]:
2*3

6

In [24]:
3/3

1.0

In [25]:
3//3

1

In [26]:
3/2

1.5

In [27]:
3//2

1

In [28]:
3**2

9

In [29]:
# Floats
0.2 + 0.1

0.30000000000000004

Integers and Floats
When you divide any two numbers, even if they are integers that result in a
whole number, you’ll always get a float

In [30]:
4/2

2.0

If you mix an integer and a float in any other operation, you’ll get a
float as well:

In [31]:
1 + 2.0

3.0

Underscores in Numbers
When you’re writing long numbers, you can group digits using underscores
to make large numbers more readable:

In [32]:
universe_age = 14_000_000_000

In [33]:
universe_age

14000000000

In [34]:
print(universe_age)

14000000000

In [35]:
1_000 == 10_00 == 100_0

True

Multiple Assignment

In [36]:
x, y, z = 1, 2, 3

In [37]:
print(x,y,z)

1 2 3

A constant is like a variable whose value stays the same throughout the life
of a program.

In [38]:
MAX_CONNECTIONS = 5000 #When you want to treat a variable as a constant in your code, make the
                       #name of the variable all capital letters.

### The Zen of Python
Beautiful is better than ugly.
Simple is better than complex.
Complex is better than complicated.
Readability counts.
There should be one-- and preferably only one --obvious way to do it.
Now is better than never.

### Capítulo 03 - List

A list is a collection of items in a particular order.

In Python, square brackets ([]) indicate a list, and individual elements
in the list are separated by commas.

In [39]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

In [40]:
bicycles[0]

'trek'

In [41]:
print(bicycles[0])

trek

In [42]:
print(bicycles[0].title())

Trek

In [43]:
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

In [44]:
print(bicycles[1])
print(bicycles[3])

cannondale
specialized

In [45]:
print(bicycles[-1])

specialized

In [46]:
bicycles

['trek', 'cannondale', 'redline', 'specialized']

In [47]:
message = f'My first bicycle was a {bicycles[0].title()}.'

In [48]:
print(message)

My first bicycle was a Trek.

For example, let’s say we have a list of motorcycles, and the first item in
the list is 'honda'. How would we change the value of this first item?

In [49]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [50]:
motorcycles[0] = 'ducati'
print(motorcycles)

['ducati', 'yamaha', 'suzuki']

In [51]:
print(motorcycles)

['ducati', 'yamaha', 'suzuki']

You can change the value of any item in a list, not just the first item.

Appending Elements to the End of a List

In [52]:
motorcycles = ['honda', 'yamaha', 'suzuki']

In [53]:
motorcycles.append('ducati')  #When you append an item to a list, the new element is added to the end
                              #of the list.
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']

The
method makes it easy to build lists dynamically. For
append()
example, you can start with an empty list and then add items to the list
using a series of
calls. Using an empty list, let’s add the elements
append()

In [54]:
motorcycles = []

motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')

print(motorcycles)

['honda', 'yamaha', 'suzuki']

You can add a new element at any position in your list by using the
insert()
method.

In [55]:
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.insert(0, 'ducati')
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

In [56]:
print(motorcycles)

['ducati', 'honda', 'yamaha', 'suzuki']

In [57]:
motorcycles.insert(3, 'kawazaki')
print(motorcycles)

['ducati', 'honda', 'yamaha', 'kawazaki', 'suzuki']

Removing an Item Using the del Statement
If you know the position of the item you want to remove from a list, you can
use the del statement.

In [58]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [59]:
del motorcycles[0]
print(motorcycles)

['yamaha', 'suzuki']

In [60]:
print(motorcycles)

['yamaha', 'suzuki']

Removing an Item Using the pop() Method

In [61]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [62]:
popped_motorcycles = motorcycles.pop()  # 'suzuki' was removed from the end of
                                        # the list and is now assigned to the variable popped_motorcycle
print(motorcycles)
print(popped_motorcycles)

['honda', 'yamaha']
suzuki

In [63]:
motorcycles = ['honda', 'yamaha', 'suzuki']
last_owned = motorcycles.pop()
print(f"The last motorcycle I owned was a {last_owned.title()}.")

The last motorcycle I owned was a Suzuki.

You can use pop() to remove an item from any position in a list by including
the index of the item you want to remove in parentheses.

In [64]:
motorcycles = ['honda', 'yamaha', 'suzuki']

In [65]:
first_owned = motorcycles.pop(0)
print(f'The first motorcycle I owned was a {first_owned.title()}.')

The first motorcycle I owned was a Honda.

In [66]:
print(motorcycles)

['yamaha', 'suzuki']

when you want to delete an item from a list
and not use that item in any way, use the del statement; if you want to use an
item as you remove it, use the pop() method.

If you only know the value of the item you want to remove, you
can use the
method.
remove()

In [67]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']

In [68]:
motorcycles.remove('ducati')
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [69]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']

In [70]:
too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print(f"\nA {too_expensive.title()} is too expensive for me.")

['honda', 'yamaha', 'suzuki']

A Ducati is too expensive for me.

### Organizing a List

In [71]:
# Sorting a List Permanently with the sort() Method

cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()  # store them alphabetically
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [72]:
# in reverse alphabetical order

print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [73]:
cars.sort(reverse=True)

In [74]:
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

To maintain the original order of a list but present it in a sorted order, you
can use the
function
sorted()

The sorted() function lets you display your list
in a particular order but doesn’t affect the actual order of the list.

In [75]:
cars = ['bmw', 'audi', 'toyota', 'subaru']

In [77]:
print('Here is the original list:')
print(cars)

Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']

In [80]:
print('\nHere is the sorted list:')
print(sorted(cars))

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

In [81]:
print("\nHere is the original list again:")
print(cars)

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']

Notice that the list still exists in its original order at x after the sorted()
function has been used. The sorted() function can also accept a reverse=True
argument if you want to display a list in reverse alphabetical order.

To reverse the original order of a list, you can use the reverse() method.

In [82]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)

['bmw', 'audi', 'toyota', 'subaru']

In [83]:
cars.reverse()
print(cars)

['subaru', 'toyota', 'audi', 'bmw']

Notice that reverse() doesn’t sort backward alphabetically; it simply
reverses the order of the list

### Finding the Length of a List

You can quickly find the length of a list by using the len() function.

In [84]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
len(cars)

4