# Estrutura de Repetição: For

In [4]:
# for i in range(n):
#    repetir código n vezes
    
for i in range(5):
    print('lira')

lira
lira
lira
lira
lira

In [5]:
for i in range(5):
    print(i)

0
1
2
3
4

In [6]:
produtos = ['coca', 'pepsi', 'guarana', 'sprite', 'fanta']
producao = [15000, 12000, 13000, 5000, 250]

for i in range(5):
    print('{} unidades produzidas de {}'.format('100', 'coca'))

100 unidades produzidas de coca
100 unidades produzidas de coca
100 unidades produzidas de coca
100 unidades produzidas de coca
100 unidades produzidas de coca

In [7]:
produtos = ['coca', 'pepsi', 'guarana', 'sprite', 'fanta']
producao = [15000, 12000, 13000, 5000, 250]

for i in range(5):
    print('{} unidades produzidas de {}'.format(producao[i], produtos[i]))

15000 unidades produzidas de coca
12000 unidades produzidas de pepsi
13000 unidades produzidas de guarana
5000 unidades produzidas de sprite
250 unidades produzidas de fanta

In [8]:
produtos = ['coca', 'pepsi', 'guarana', 'sprite', 'fanta']
producao = [15000, 12000, 13000, 5000, 250]

tamanho = len(produtos)

for i in range(tamanho):
    print('{} unidades produzidas de {}'.format(producao[i], produtos[i]))

15000 unidades produzidas de coca
12000 unidades produzidas de pepsi
13000 unidades produzidas de guarana
5000 unidades produzidas de sprite
250 unidades produzidas de fanta

# For each

In [10]:
# for i in range(5):
#    print(i)
    
# range(5) é na verdade uma lista do tipo: [0, 1, 2, 3, 4]

In [11]:
produtos = ['coca', 'pepsi', 'guarana', 'sprite', 'fanta']
texto = 'lira@gmail.com'

for i in range(5):
    print(produtos[i])

coca
pepsi
guarana
sprite
fanta

In [12]:
produtos = ['coca', 'pepsi', 'guarana', 'sprite', 'fanta']
texto = 'lira@gmail.com'

for item in produtos:
    print(item)

coca
pepsi
guarana
sprite
fanta

In [13]:
produtos = ['coca', 'pepsi', 'guarana', 'sprite', 'fanta']
texto = 'lira@gmail.com'

for produto in produtos:
    print(produto)

coca
pepsi
guarana
sprite
fanta

In [14]:
produtos = ['coca', 'pepsi', 'guarana', 'sprite', 'fanta']
texto = 'lira@gmail.com'

for produto in produtos:
    print('O produto é {}'.format(produto))

O produto é coca
O produto é pepsi
O produto é guarana
O produto é sprite
O produto é fanta

In [15]:
produtos = ['coca', 'pepsi', 'guarana', 'sprite', 'fanta']
texto = 'lira@gmail.com'

for ch in texto:
    print(ch)

l
i
r
a
@
g
m
a
i
l
.
c
o
m

# For + If

In [1]:
''' for item in lista:
    if condição:
        faça alguma coisa
    else:
        outra coisa
        
'''

' for item in lista:\n    if condição:\n        faça alguma coisa\n    else:\n        outra coisa\n        \n'

In [2]:
vendas = [1200, 300, 800, 1500, 1900, 2750, 400, 20, 23, 70, 90, 80, 1100, 999, 900, 880, 870, 50, 1111, 120, 300, 450, 800]
meta = 1000

for venda in vendas:
    if venda >= meta:
        print(venda)

1200
1500
1900
2750
1100
1111

In [4]:
vendas = [1200, 300, 800, 1500, 1900, 2750, 400, 20, 23, 70, 90, 80, 1100, 999, 900, 880, 870, 50, 1111, 120, 300, 450, 800]
meta = 1000

qtde_bateu_meta = 0

for venda in vendas:
    if venda >= meta:
        qtde_bateu_meta += 1
        
print(qtde_bateu_meta)

6

In [5]:
vendas = [1200, 300, 800, 1500, 1900, 2750, 400, 20, 23, 70, 90, 80, 1100, 999, 900, 880, 870, 50, 1111, 120, 300, 450, 800]
meta = 1000

qtde_bateu_meta = 0

for venda in vendas:
    if venda >= meta:
        qtde_bateu_meta += 1

qtde_funcionarios = len(vendas)

print('O percentual de pessoas que bateram a meta foi de {}'.format(qtde_bateu_meta / qtde_funcionarios))

O percentual de pessoas que bateram a meta foi de 0.2608695652173913

In [6]:
vendas = [1200, 300, 800, 1500, 1900, 2750, 400, 20, 23, 70, 90, 80, 1100, 999, 900, 880, 870, 50, 1111, 120, 300, 450, 800]
meta = 1000

qtde_bateu_meta = 0

for venda in vendas:
    if venda >= meta:
        qtde_bateu_meta += 1

qtde_funcionarios = len(vendas)

print('O percentual de pessoas que bateram a meta foi de {:.0%}'.format(qtde_bateu_meta / qtde_funcionarios))

O percentual de pessoas que bateram a meta foi de 26%

In [7]:
vendas = [1200, 300, 800, 1500, 1900, 2750, 400, 20, 23, 70, 90, 80, 1100, 999, 900, 880, 870, 50, 1111, 120, 300, 450, 800]
meta = 1000

qtde_bateu_meta = 0

for venda in vendas:
    if venda >= meta:
        qtde_bateu_meta += 1

qtde_funcionarios = len(vendas)

print('O percentual de pessoas que bateram a meta foi de {:.1%}'.format(qtde_bateu_meta / qtde_funcionarios))

O percentual de pessoas que bateram a meta foi de 26.1%

## enumerate permite que você percorra uma lista e ao mesmo tempo tenha em uma variável o índice daquele item.

In [8]:
funcionarios = ['Maria', 'José', 'Antônio', 'João', 'Francisco', 'Ana', 'Luiz', 'Paulo', 'Carlos', 'Manoel', 'Pedro', 'Francisca', 'Marcos', 'Raimundo', 'Sebastião', 'Antônia', 'Marcelo', 'Jorge', 'Márcia', 'Geraldo', 'Adriana', 'Sandra', 'Luis']
for funcionario in funcionarios:
    print(funcionario)

Maria
José
Antônio
João
Francisco
Ana
Luiz
Paulo
Carlos
Manoel
Pedro
Francisca
Marcos
Raimundo
Sebastião
Antônia
Marcelo
Jorge
Márcia
Geraldo
Adriana
Sandra
Luis

''' for i, item i enumerate(lista):
        resto do código
        
        '''

In [10]:
funcionarios = ['Maria', 'José', 'Antônio', 'João', 'Francisco', 'Ana', 'Luiz', 'Paulo', 'Carlos', 'Manoel', 'Pedro', 'Francisca', 'Marcos', 'Raimundo', 'Sebastião', 'Antônia', 'Marcelo', 'Jorge', 'Márcia', 'Geraldo', 'Adriana', 'Sandra', 'Luis']
for i, funcionario in enumerate(funcionarios):
    print('{} é o funcionário {}'.format(i, funcionario))

0 é o funcionário Maria
1 é o funcionário José
2 é o funcionário Antônio
3 é o funcionário João
4 é o funcionário Francisco
5 é o funcionário Ana
6 é o funcionário Luiz
7 é o funcionário Paulo
8 é o funcionário Carlos
9 é o funcionário Manoel
10 é o funcionário Pedro
11 é o funcionário Francisca
12 é o funcionário Marcos
13 é o funcionário Raimundo
14 é o funcionário Sebastião
15 é o funcionário Antônia
16 é o funcionário Marcelo
17 é o funcionário Jorge
18 é o funcionário Márcia
19 é o funcionário Geraldo
20 é o funcionário Adriana
21 é o funcionário Sandra
22 é o funcionário Luis

In [14]:
funcionarios = ['Maria', 'José', 'Antônio', 'João', 'Francisco', 'Ana', 'Luiz', 'Paulo', 'Carlos', 'Manoel', 'Pedro', 'Francisca', 'Marcos', 'Raimundo', 'Sebastião', 'Antônia', 'Marcelo', 'Jorge', 'Márcia', 'Geraldo', 'Adriana', 'Sandra', 'Luis']
for i, funcionario in enumerate(funcionarios):
    i += 1
    print('{} é o funcionário {}'.format(i, funcionario))

1 é o funcionário Maria
2 é o funcionário José
3 é o funcionário Antônio
4 é o funcionário João
5 é o funcionário Francisco
6 é o funcionário Ana
7 é o funcionário Luiz
8 é o funcionário Paulo
9 é o funcionário Carlos
10 é o funcionário Manoel
11 é o funcionário Pedro
12 é o funcionário Francisca
13 é o funcionário Marcos
14 é o funcionário Raimundo
15 é o funcionário Sebastião
16 é o funcionário Antônia
17 é o funcionário Marcelo
18 é o funcionário Jorge
19 é o funcionário Márcia
20 é o funcionário Geraldo
21 é o funcionário Adriana
22 é o funcionário Sandra
23 é o funcionário Luis

In [15]:
estoque = [1200, 300, 800, 1500, 1900, 2750, 400, 20, 23, 70, 90, 80, 1100, 999, 900, 880, 870, 50, 1111, 120, 300, 450, 800]
produtos = ['coca', 'pepsi', 'guarana', 'skol', 'brahma', 'agua', 'del valle', 'dolly', 'red bull', 'cachaça', 'vinho tinto', 'vodka', 'vinho branco', 'tequila', 'champagne', 'gin', 'guaracamp', 'matte', 'leite de castanha', 'leite', 'jurupinga', 'sprite', 'fanta']
nivel_minimo = 50

for qtde in estoque:
    print(qtde)

1200
300
800
1500
1900
2750
400
20
23
70
90
80
1100
999
900
880
870
50
1111
120
300
450
800

In [16]:
estoque = [1200, 300, 800, 1500, 1900, 2750, 400, 20, 23, 70, 90, 80, 1100, 999, 900, 880, 870, 50, 1111, 120, 300, 450, 800]
produtos = ['coca', 'pepsi', 'guarana', 'skol', 'brahma', 'agua', 'del valle', 'dolly', 'red bull', 'cachaça', 'vinho tinto', 'vodka', 'vinho branco', 'tequila', 'champagne', 'gin', 'guaracamp', 'matte', 'leite de castanha', 'leite', 'jurupinga', 'sprite', 'fanta']
nivel_minimo = 50

for qtde in estoque:
    if qtde < nivel_minimo:
        print(qtde)

20
23

In [17]:
estoque = [1200, 300, 800, 1500, 1900, 2750, 400, 20, 23, 70, 90, 80, 1100, 999, 900, 880, 870, 50, 1111, 120, 300, 450, 800]
produtos = ['coca', 'pepsi', 'guarana', 'skol', 'brahma', 'agua', 'del valle', 'dolly', 'red bull', 'cachaça', 'vinho tinto', 'vodka', 'vinho branco', 'tequila', 'champagne', 'gin', 'guaracamp', 'matte', 'leite de castanha', 'leite', 'jurupinga', 'sprite', 'fanta']
nivel_minimo = 50

for i, qtde in enumerate(estoque):
    if qtde < nivel_minimo:
        print(produtos[i])

dolly
red bull

In [20]:
estoque = [1200, 300, 800, 1500, 1900, 2750, 400, 20, 23, 70, 90, 80, 1100, 999, 900, 880, 870, 50, 1111, 120, 300, 450, 800]
produtos = ['coca', 'pepsi', 'guarana', 'skol', 'brahma', 'agua', 'del valle', 'dolly', 'red bull', 'cachaça', 'vinho tinto', 'vodka', 'vinho branco', 'tequila', 'champagne', 'gin', 'guaracamp', 'matte', 'leite de castanha', 'leite', 'jurupinga', 'sprite', 'fanta']
nivel_minimo = 50

for i, qtde in enumerate(estoque):
    if qtde < nivel_minimo:
        print('{} está abaixo do nível mínimo. Temos apenas {} unidades'.format(produtos[i], qtde))

dolly está abaixo do nível mínimo. Temos apenas 20 unidades
red bull está abaixo do nível mínimo. Temos apenas 23 unidades

In [22]:
quarto = [
    ['Joao', 'cpf: 00000000000'],
    ['Julia', 'cpf: 11111111111'],
    ['Marcus', 'cpf: 22222222222'],
    ['Maria', 'cpf: 33333333333'],
    ]

In [24]:
qtde_pessoas = int(input('Quantas pessoas terão no quarto? '))
quarto = []

for i in range(qtde_pessoas):
    nome = input('Qual o nome? ')
    cpf = input('Qual o cpf? ')
    hospede = [nome, 'cpf:{}'.format(cpf)]
    quarto.append(hospede)
    
print(quarto)

Quantas pessoas terão no quarto? 2
Qual o nome? Joao
Qual o cpf? 00000000000
Qual o nome? Julia
Qual o cpf? 11111111111
[['Joao', 'cpf:00000000000'], ['Julia', 'cpf:11111111111']]

In [25]:
meta = 10000
vendas = [
    ['João', 15000],
    ['Julia', 27000],
    ['Marcus', 9900],
    ['Maria', 3750],
    ['Ana', 10300],
    ['Alon', 7870],
]

for item in vendas:
    if item[1] >= meta:
        print('Vendedor {} bateu a meta. Fez {} vendas'.format(item[0], item[1]))

Vendedor João bateu a meta. Fez 15000 vendas
Vendedor Julia bateu a meta. Fez 27000 vendas
Vendedor Ana bateu a meta. Fez 10300 vendas

In [26]:
produtos = ['iphone', 'galaxy', 'ipad', 'tv', 'máquina de café', 'kindle', 'geladeira', 'adega', 'notebook dell', 'notebook hp', 'notebook asus', 'microsoft surface', 'webcam', 'caixa de som', 'microfone', 'câmera canon']
vendas2019 = [558147,712350,573823,405252,718654,531580,973139,892292,422760,154753,887061,438508,237467,489705,328311,591120]
vendas2020 = [951642,244295,26964,787604,867660,78830,710331,646016,694913,539704,324831,667179,295633,725316,644622,994303]

for i, produto in enumerate(produtos):
    if vendas2020[i] > vendas2019[i]:
        crescimento = vendas2020[i] / vendas2019[i] - 1
        print('{} vendeu R$ {:,} em 2019, R$ {:,} em 2020 e teve {:.1%} de crescimento'.format(produto, vendas2019[i], vendas2020[i], crescimento))

iphone vendeu R$ 558,147 em 2019, R$ 951,642 em 2020 e teve 70.5% de crescimento
tv vendeu R$ 405,252 em 2019, R$ 787,604 em 2020 e teve 94.3% de crescimento
máquina de café vendeu R$ 718,654 em 2019, R$ 867,660 em 2020 e teve 20.7% de crescimento
notebook dell vendeu R$ 422,760 em 2019, R$ 694,913 em 2020 e teve 64.4% de crescimento
notebook hp vendeu R$ 154,753 em 2019, R$ 539,704 em 2020 e teve 248.8% de crescimento
microsoft surface vendeu R$ 438,508 em 2019, R$ 667,179 em 2020 e teve 52.1% de crescimento
webcam vendeu R$ 237,467 em 2019, R$ 295,633 em 2020 e teve 24.5% de crescimento
caixa de som vendeu R$ 489,705 em 2019, R$ 725,316 em 2020 e teve 48.1% de crescimento
microfone vendeu R$ 328,311 em 2019, R$ 644,622 em 2020 e teve 96.3% de crescimento
câmera canon vendeu R$ 591,120 em 2019, R$ 994,303 em 2020 e teve 68.2% de crescimento

In [28]:
# cada lista corresponde ao estoque de uma fábrica.

estoque = [
    [294, 125, 269, 208, 783, 852, 259, 371, 47, 102, 386, 87, 685, 686, 697, 941, 163, 631, 7, 714, 218, 670, 453],
    [648, 816, 310, 555, 992, 643, 226, 319, 501, 23, 239, 42, 372, 441, 126, 645, 927, 911, 761, 445, 974, 2, 549],
    [832, 683, 784, 449, 977, 705, 198, 937, 729, 327, 339, 10, 975, 310, 95, 689, 137, 795, 211, 538, 933, 751, 522],
    [837, 168, 570, 397, 53, 297, 966, 714, 72, 737, 259, 629, 625, 469, 922, 305, 782, 243, 841, 848, 372, 621, 362],
    [429, 242, 53, 985, 406, 186, 198, 50, 501, 870, 781, 632, 781, 105, 644, 509, 401, 88, 961, 765, 422, 340, 654],
]
fabricas = ['Lira Manufacturing', 'Fábrica Hashtag', 'Python Manufaturas', 'Produções e Cia', 'Manufatura e Cia']
nivel_minimeo = 50

for lista in estoque:
    print(lista)

[294, 125, 269, 208, 783, 852, 259, 371, 47, 102, 386, 87, 685, 686, 697, 941, 163, 631, 7, 714, 218, 670, 453]
[648, 816, 310, 555, 992, 643, 226, 319, 501, 23, 239, 42, 372, 441, 126, 645, 927, 911, 761, 445, 974, 2, 549]
[832, 683, 784, 449, 977, 705, 198, 937, 729, 327, 339, 10, 975, 310, 95, 689, 137, 795, 211, 538, 933, 751, 522]
[837, 168, 570, 397, 53, 297, 966, 714, 72, 737, 259, 629, 625, 469, 922, 305, 782, 243, 841, 848, 372, 621, 362]
[429, 242, 53, 985, 406, 186, 198, 50, 501, 870, 781, 632, 781, 105, 644, 509, 401, 88, 961, 765, 422, 340, 654]

In [29]:
# cada lista corresponde ao estoque de uma fábrica.

estoque = [
    [294, 125, 269, 208, 783, 852, 259, 371, 47, 102, 386, 87, 685, 686, 697, 941, 163, 631, 7, 714, 218, 670, 453],
    [648, 816, 310, 555, 992, 643, 226, 319, 501, 23, 239, 42, 372, 441, 126, 645, 927, 911, 761, 445, 974, 2, 549],
    [832, 683, 784, 449, 977, 705, 198, 937, 729, 327, 339, 10, 975, 310, 95, 689, 137, 795, 211, 538, 933, 751, 522],
    [837, 168, 570, 397, 53, 297, 966, 714, 72, 737, 259, 629, 625, 469, 922, 305, 782, 243, 841, 848, 372, 621, 362],
    [429, 242, 53, 985, 406, 186, 198, 50, 501, 870, 781, 632, 781, 105, 644, 509, 401, 88, 961, 765, 422, 340, 654],
]
fabricas = ['Lira Manufacturing', 'Fábrica Hashtag', 'Python Manufaturas', 'Produções e Cia', 'Manufatura e Cia']
nivel_minimeo = 50

for lista in estoque:
    # se dentro daquela lista tem alguem abaixo do nível mínimo
    for qtde in lista:
        if qtde < nivel_minimo:
            print(qtde)

47
7
23
42
2
10

In [30]:
estoque = [
    [294, 125, 269, 208, 783, 852, 259, 371, 47, 102, 386, 87, 685, 686, 697, 941, 163, 631, 7, 714, 218, 670, 453],
    [648, 816, 310, 555, 992, 643, 226, 319, 501, 23, 239, 42, 372, 441, 126, 645, 927, 911, 761, 445, 974, 2, 549],
    [832, 683, 784, 449, 977, 705, 198, 937, 729, 327, 339, 10, 975, 310, 95, 689, 137, 795, 211, 538, 933, 751, 522],
    [837, 168, 570, 397, 53, 297, 966, 714, 72, 737, 259, 629, 625, 469, 922, 305, 782, 243, 841, 848, 372, 621, 362],
    [429, 242, 53, 985, 406, 186, 198, 50, 501, 870, 781, 632, 781, 105, 644, 509, 401, 88, 961, 765, 422, 340, 654],
]
fabricas = ['Lira Manufacturing', 'Fábrica Hashtag', 'Python Manufaturas', 'Produções e Cia', 'Manufatura e Cia']
nivel_minimeo = 50

for i, lista in enumerate(estoque):
    # se dentro daquela lista tem alguem abaixo do nível mínimo
    for qtde in lista:
        if qtde < nivel_minimo:
            print(fabricas[i])

Lira Manufacturing
Lira Manufacturing
Fábrica Hashtag
Fábrica Hashtag
Fábrica Hashtag
Python Manufaturas

In [32]:
estoque = [
    [294, 125, 269, 208, 783, 852, 259, 371, 47, 102, 386, 87, 685, 686, 697, 941, 163, 631, 7, 714, 218, 670, 453],
    [648, 816, 310, 555, 992, 643, 226, 319, 501, 23, 239, 42, 372, 441, 126, 645, 927, 911, 761, 445, 974, 2, 549],
    [832, 683, 784, 449, 977, 705, 198, 937, 729, 327, 339, 10, 975, 310, 95, 689, 137, 795, 211, 538, 933, 751, 522],
    [837, 168, 570, 397, 53, 297, 966, 714, 72, 737, 259, 629, 625, 469, 922, 305, 782, 243, 841, 848, 372, 621, 362],
    [429, 242, 53, 985, 406, 186, 198, 50, 501, 870, 781, 632, 781, 105, 644, 509, 401, 88, 961, 765, 422, 340, 654],
]
fabricas = ['Lira Manufacturing', 'Fábrica Hashtag', 'Python Manufaturas', 'Produções e Cia', 'Manufatura e Cia']
nivel_minimeo = 50
fabricas_abaixo_nivel = []

for i, lista in enumerate(estoque):
    # se dentro daquela lista tem alguem abaixo do nível mínimo
    for qtde in lista:
        if qtde < nivel_minimo:
            if fabricas[i] in fabricas_abaixo_nivel:
                pass
            else:
                fabricas_abaixo_nivel.append(fabricas[i])
                
print(fabricas_abaixo_nivel)

['Lira Manufacturing', 'Fábrica Hashtag', 'Python Manufaturas']

In [46]:
meta = 10000
vendas = [
    ['João', 15000],
    ['Julia', 27000],
    ['Marcus', 9900],
    ['Maria', 3750],
    ['Ana', 10300],
    ['Alon', 7870],
]

In [47]:
# criando lista auxiliar

acima_meta = []

for venda in vendas:
    if venda[1] >= meta:
        acima_meta.append(venda)
        
print(acima_meta)

[['João', 15000], ['Julia', 27000], ['Ana', 10300]]

In [48]:
acima_meta = []

for venda in vendas:
    if venda[1] >= meta:
        acima_meta.append(venda)
        
print(acima_meta)
print('{:.1%} dos vendedores bateram a meta.'.format(len(acima_meta) / len(vendas)))

[['João', 15000], ['Julia', 27000], ['Ana', 10300]]
50.0% dos vendedores bateram a meta.

In [51]:
qtde_vendedores_acima = 0

for venda in vendas:
    if venda[1] >= meta:
        qtde_vendedores_acima += 1
        
print('{:.1%} dos vendedores bateram a meta'.format(qtde_vendedores_acima / len(vendas)))

50.0% dos vendedores bateram a meta

In [58]:
meta = 10000
vendas = [
    ['João', 15000],
    ['Julia', 27000],
    ['Marcus', 9900],
    ['Maria', 3750],
    ['Ana', 10300],
    ['Alon', 7870],
]

melhor_vendedor = ''
maior_vendas = 0

for venda in vendas:
    if venda[1] > maior_vendas:
        maior_vendas = venda[1]
        melhor_vendedor = venda[0]
    
print('O melhor vendedor foi {} com {} vendas'.format(melhor_vendedor, maior_vendas))

O melhor vendedor foi Julia com 27000 vendas

In [59]:
vendas = [100, 150, 1500, 2000, 120]

In [60]:
meta = 110

for venda in vendas:
    if venda < meta:
        print('A loja não ganha bônus')

A loja não ganha bônus

In [61]:
meta = 110

for venda in vendas:
    if venda < meta:
        print('A loja não ganha bônus')
    print(vendas)

A loja não ganha bônus
[100, 150, 1500, 2000, 120]
[100, 150, 1500, 2000, 120]
[100, 150, 1500, 2000, 120]
[100, 150, 1500, 2000, 120]
[100, 150, 1500, 2000, 120]

In [62]:
meta = 110

for venda in vendas:
    if venda < meta:
        print('A loja não ganha bônus')
        break
    print(vendas)

A loja não ganha bônus

In [63]:

vendas = [100, 150, 1500, 2000, 120]
vendedores = ['João', 'Julia', 'Ana', 'Jose', 'Maria']
meta = 130

for venda in vendas:
    print(venda)

100
150
1500
2000
120

In [64]:

vendas = [100, 150, 1500, 2000, 120]
vendedores = ['João', 'Julia', 'Ana', 'Jose', 'Maria']
meta = 130

for venda in vendas:
    if venda < meta:
        continue
    print(venda)

150
1500
2000