In [1]:
print('um texto')

um texto

In [2]:
print("um texto")

um texto

In [3]:
print(um texto)

SyntaxError: invalid syntax (Temp/ipykernel_16856/1515769582.py, line 1)

In [4]:
print(123)

123

In [5]:
print(1+1)

2

In [6]:
print('1+1')

1+1

In [7]:
print(2/3)

0.6666666666666666

In [8]:
print(2.2 * 5)

11.0

In [9]:
print(7%3)

1

In [10]:
print("meu nome é Alexandre")

meu nome é Alexandre

In [11]:
print('meu nome é' + 'Alexandre')

meu nome éAlexandre

In [12]:
print('meu nome é ' + 'Alexandre')

meu nome é Alexandre

In [13]:
print('meu nome é' + ' Alexandre')

meu nome é Alexandre

In [14]:
print('meu nome é' in 'Lira')

False

In [15]:
print('Alexandre' in 'Alexandre Magno')

True

In [16]:
print('A' in 'Alex')

True

In [17]:
print('a' in 'Alex')

False

In [19]:
qtde_vendas = 1500
nome = 'Alexandre Magno'

print(nome)
print(qtde_vendas)

Alexandre Magno
1500

In [20]:
input('Qual é o seu nome?')

Qual é o seu nome?Alexandre

'Alexandre'

In [22]:
nome = input("Qual o seu nome?")
print(nome)

Qual o seu nome?Alexandre
Alexandre

In [23]:
nome = input("Qual o seu nome?")
sobrenome = input('Qual é o seu sobrenome?')

print(nome + sobrenome) # ele vai concatenar

Qual o seu nome?Alexandre
Qual é o seu sobrenome?Oliveira
AlexandreOliveira

In [24]:
nome = input("Qual o seu nome?")
sobrenome = input('Qual é o seu sobrenome?')

print(nome + ' '+ sobrenome) # ele vai concatenar

Qual o seu nome?Alexandre
Qual é o seu sobrenome?Oliveira
Alexandre Oliveira

# Tipos de Variáveis

In [1]:
faturamento = 1000

print('O faturamento da loja foi ' + faturamento)

TypeError: can only concatenate str (not "int") to str

In [3]:
faturamento = 1500
custo = 500
lucro = faturamento - custo

print('O faturamento da loja foi ' + str(faturamento))
print('O custo da loja foi ' + str(custo))
print('Assim, o lucro da loja foi de ' + str(lucro) + ' reais')

O faturamento da loja foi 1500
O custo da loja foi 500
Assim, o lucro da loja foi de 1000 reais

In [4]:


print('O faturamento da loja foi ' + str(faturamento))
print('O custo da loja foi ' + str(custo))
print('Assim, o lucro da loja foi de ' + str(lucro) + ' reais')

O faturamento da loja foi 2000
O custo da loja foi 500
Assim, o lucro da loja foi de 1500 reais

In [8]:
faturamento = 2000
custo = 500
lucro = faturamento - custo

print('O faturamento da loja foi ' + str(faturamento) + '. O custo da loja foi ' + str(custo) + '. Assim, o lucro da loja foi de ' + str(lucro) + ' reais.')

O faturamento da loja foi 2000. O custo da loja foi 500. Assim, o lucro da loja foi de 1500 reais.

# Método Format

In [9]:
faturamento = 2000
custo = 500
lucro = faturamento - custo

print('O faturamento da loja foi {}'.format(faturamento))

O faturamento da loja foi 2000

In [11]:
print('O faturamento da loja foi {}. O custo da loja foi {}. Assim, o lucro da loja foi {}.'.format(faturamento, custo, lucro))

O faturamento da loja foi 2000. O custo da loja foi 500. Assim, o lucro da loja foi 1500.