In [1]:
produtos = ['iphone', 'samsung galaxy', 'tv samsung', 'ps5', 'tablet', 'ipad', 'tv philco', 'notebook hp', 'notebook dell', 'notebook asus']

for produto in produtos:
    print(produto)

iphone
samsung galaxy
tv samsung
ps5
tablet
ipad
tv philco
notebook hp
notebook dell
notebook asus

In [2]:
texto = 'lira@gmail.com'
for ch in texto:
    print(ch)

l
i
r
a
@
g
m
a
i
l
.
c
o
m

In [3]:
produtos = ('iphone', 'samsung galaxy', 'tv samsung', 'ps5', 'tablet', 'ipad', 'tv philco', 'notebook hp', 'notebook dell', 'notebook asus')

for produto in produtos:
    print(produto)

iphone
samsung galaxy
tv samsung
ps5
tablet
ipad
tv philco
notebook hp
notebook dell
notebook asus

In [5]:
vendas_produtos = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

for produto in vendas_produtos:
#    print(produto) # printando apenas a chave
     print('{}: {} unidades'.format(produto, vendas_produtos[produto]))

iphone: 15000 unidades
samsung galaxy: 12000 unidades
tv samsung: 10000 unidades
ps5: 14300 unidades
tablet: 1720 unidades
ipad: 1000 unidades
tv philco: 2500 unidades
notebook hp: 1000 unidades
notebook dell: 17000 unidades
notebook asus: 2450 unidades

In [7]:
funcionarios = {'Ana': 24, 'Carlos': 34, 'João': 34, 'José': 43}
for gente in funcionarios:
    print('{} tem {} anos'.format(gente, funcionarios[gente]))

Ana tem 24 anos
Carlos tem 34 anos
João tem 34 anos
José tem 43 anos

'''
range(tamanho)
range(inicio, fim)
range(inicio, fim, passo)'''

In [10]:
produtos = ['arroz', 'feijao', 'macarrao', 'atum', 'azeite']
estoque = [50, 100, 20, 5, 80]

for i in range(5):
    print(i)

0
1
2
3
4

In [15]:
produtos = ['arroz', 'feijao', 'macarrao', 'atum', 'azeite']
estoque = [50, 100, 20, 5, 80]

for i in range(5):
    print('{}: {} unidades'.format(produtos[i], estoque[i]))

arroz: 50 unidades
feijao: 100 unidades
macarrao: 20 unidades
atum: 5 unidades
azeite: 80 unidades

In [17]:
print(range(1, 10))
for i in range(1,10):
    print(i)

range(1, 10)
1
2
3
4
5
6
7
8
9

In [18]:
for i in range(2, 10):
    print(i)

2
3
4
5
6
7
8
9

#### Classe A: 10% melhor
#### Classe B: 80% mantém/busca melhorar
#### Classe C: 10% pior
#### Quem são os funcionários classe B?

In [21]:
funcionarios = ['Maria', 'José', 'Antônio', 'João', 'Francisco', 'Ana', 'Luiz', 'Paulo', 'Carlos', 'Manoel', 'Pedro', 'Francisca', 'Marcos', 'Raimundo', 'Sebastião', 'Antônia', 'Marcelo', 'Jorge', 'Márcia', 'Geraldo']
vendas = [2750, 1900, 1500, 1200, 1111, 1100, 999, 900, 880, 870, 800, 800, 450, 400, 300, 300, 120, 90, 80, 70]
print('Funcionários Classe B:')
print('-'* 40)
for i in range(3, 18):
    print('{}: fez {} vendas'.format(funcionarios[i], vendas[i]))

Funcionários Classe B:
----------------------------------------
João: fez 1200 vendas
Francisco: fez 1111 vendas
Ana: fez 1100 vendas
Luiz: fez 999 vendas
Paulo: fez 900 vendas
Carlos: fez 880 vendas
Manoel: fez 870 vendas
Pedro: fez 800 vendas
Francisca: fez 800 vendas
Marcos: fez 450 vendas
Raimundo: fez 400 vendas
Sebastião: fez 300 vendas
Antônia: fez 300 vendas
Marcelo: fez 120 vendas
Jorge: fez 90 vendas

In [24]:
print(range(0, 10, 2))
     
for i in range(0, 1000, 50):
        print(i)

range(0, 10, 2)
0
50
100
150
200
250
300
350
400
450
500
550
600
650
700
750
800
850
900
950

In [26]:
set_produtos = {'arroz', 'feijao', 'macarrao', 'atum', 'azeite'}

print(set_produtos)

{'atum', 'azeite', 'arroz', 'macarrao', 'feijao'}

In [27]:
cpf_clientes = ['762.196.080-97', '263.027.380-67', '827.363.930-40', '925.413.640-91', '870.565.160-33', '892.080.930-50', '462.126.030-81', '393.462.330-10', '393.462.330-10', '393.462.330-10', '988.305.810-11', '596.125.830-05', '596.125.830-05', '990.236.770-48']
print(len(cpf_clientes))

14

In [29]:
cpf_clientes = ['762.196.080-97', '263.027.380-67', '827.363.930-40', '925.413.640-91', '870.565.160-33', '892.080.930-50', '462.126.030-81', '393.462.330-10', '393.462.330-10', '393.462.330-10', '988.305.810-11', '596.125.830-05', '596.125.830-05', '990.236.770-48']
set_cpf_clientes = set(cpf_clientes)
print(len(set_cpf_clientes))

11

In [30]:
cpf_clientes = ['762.196.080-97', '263.027.380-67', '827.363.930-40', '925.413.640-91', '870.565.160-33', '892.080.930-50', '462.126.030-81', '393.462.330-10', '393.462.330-10', '393.462.330-10', '988.305.810-11', '596.125.830-05', '596.125.830-05', '990.236.770-48']
set_cpf_clientes = set(cpf_clientes)
print('Temos {} clientes na loja'.format(len(set_cpf_clientes)))

Temos 11 clientes na loja