## Tuplas

In [2]:
vendas = ('Lira', '25/08/2020', '15/02/1994', 2000, 'Estagiário')

In [7]:
nome = vendas[0]
data_contratacao = vendas[1]
data_nascimento = vendas[2]
salario = vendas[3]
cargo = vendas[4]

print(cargo)
print(salario)
print(vendas)

Estagiário
2000
('Lira', '25/08/2020', '15/02/1994', 2000, 'Estagiário')

In [6]:
vendas[3000]

nome = vendas[0]
data_contratacao = vendas[1]
data_nascimento = vendas[2]
salario = vendas[3]
cargo = vendas[4]

print(cargo)
print(salario)

IndexError: tuple index out of range

In [8]:
nome = vendas[0]
data_contratacao = vendas[1]
data_nascimento = vendas[2]
salario = vendas[3]
cargo = vendas[4]

nome, data_contratacao, data_nascimento, salario, cargo = vendas

print(nome)

Lira

In [9]:
nome, data_contratacao, data_nascimento, salario, cargo = vendas

print(nome)

Lira

In [10]:
nome, data_contratacao, data_nascimento, salario, cargo = vendas

print(salario)

2000

In [11]:
vendas = [1000, 2000, 300, 300, 150]
funcionarios = ['João', 'Lira', 'Ana', 'Maria', 'Paula']

for i, venda in enumerate(vendas):
        print('{} vendeu {} unidades'.format(funcionarios[i], venda))

João vendeu 1000 unidades
Lira vendeu 2000 unidades
Ana vendeu 300 unidades
Maria vendeu 300 unidades
Paula vendeu 150 unidades

In [12]:
vendas = [1000, 2000, 300, 300, 150]
funcionarios = ['João', 'Lira', 'Ana', 'Maria', 'Paula']

for item in enumerate(vendas):
    print(item)

(0, 1000)
(1, 2000)
(2, 300)
(3, 300)
(4, 150)

In [18]:
vendas = [1000, 2000, 300, 300, 150]
funcionarios = ['João', 'Lira', 'Ana', 'Maria', 'Paula']

for item in enumerate(vendas):
    i, venda = item
    print(i)
    print(venda)
#    print('{} vendeu {} unidades'.format(funcionarios[i], venda))

0
1000
1
2000
2
300
3
300
4
150

In [20]:
vendas = [1000, 2000, 300, 300, 150]
funcionarios = ['João', 'Lira', 'Ana', 'Maria', 'Paula']

for i, venda in enumerate(vendas):
    
   print('{} vendeu {} unidades'.format(funcionarios[i], venda))

João vendeu 1000 unidades
Lira vendeu 2000 unidades
Ana vendeu 300 unidades
Maria vendeu 300 unidades
Paula vendeu 150 unidades

In [21]:
lista = [
    tupla1,
    tupla2,
    tupla3,
    ]
    
# ou seja

lista = [
    (valor1, valor2, valor3),
    (valor4, valor5, valor6),
    (valor7, valor8, valor9),
    ]

NameError: name 'tupla1' is not defined

In [22]:
vendas = [
    ('20/08/2020', 'iphone x', 'azul', '128gb', 350, 4000),
    ('20/08/2020', 'iphone x', 'prata', '128gb', 1500, 4000),
    ('20/08/2020', 'ipad', 'prata', '256gb', 127, 6000),
    ('20/08/2020', 'ipad', 'prata', '128gb', 981, 5000),
    ('21/08/2020', 'iphone x', 'azul', '128gb', 397, 4000),
    ('21/08/2020', 'iphone x', 'prata', '128gb', 1017, 4000),
    ('21/08/2020', 'ipad', 'prata', '256gb', 50, 6000),
    ('21/08/2020', 'ipad', 'prata', '128gb', 4000, 5000),
]
print(vendas)

[('20/08/2020', 'iphone x', 'azul', '128gb', 350, 4000), ('20/08/2020', 'iphone x', 'prata', '128gb', 1500, 4000), ('20/08/2020', 'ipad', 'prata', '256gb', 127, 6000), ('20/08/2020', 'ipad', 'prata', '128gb', 981, 5000), ('21/08/2020', 'iphone x', 'azul', '128gb', 397, 4000), ('21/08/2020', 'iphone x', 'prata', '128gb', 1017, 4000), ('21/08/2020', 'ipad', 'prata', '256gb', 50, 6000), ('21/08/2020', 'ipad', 'prata', '128gb', 4000, 5000)]

In [23]:
data, produto, cor, capacidade, unidades, valor_unitario = vendas[0]
faturamento = unidades * valor_unitario
print(faturamento)

1400000

In [25]:
for item in vendas:
    data, produto, cor, capacidade, vunidades, alor_unitario = item
    print(produto)

iphone x
iphone x
ipad
ipad
iphone x
iphone x
ipad
ipad

In [27]:
faturamento = 0
for item in vendas:
    data, produto, cor, capacidade, unidades, alor_unitario = item
    if produto == 'iphone x':
        faturamento += unidades * valor_unitario
        
print(faturamento)

13056000

In [28]:
faturamento = 0
for item in vendas:
    data, produto, cor, capacidade, unidades, alor_unitario = item
    if produto == 'iphone x':
        print(produto)
        faturamento += unidades * valor_unitario
        
print(faturamento)

iphone x
iphone x
iphone x
iphone x
13056000

In [29]:
faturamento = 0
for item in vendas:
    data, produto, cor, capacidade, unidades, alor_unitario = item
    if produto == 'iphone x'and data == '20/08/2020':
        print(produto)
        faturamento += unidades * valor_unitario
        
print(faturamento)

iphone x
iphone x
7400000

In [31]:
# qual o fat do iphone no dia 20/08 e qual o produto mais vendido em unidades dia 21/08?
faturamento = 0
for item in vendas:
    data, produto, cor, capacidade, unidades, alor_unitario = item
    if produto == 'iphone x'and data == '20/08/2020':
        faturamento += unidades * valor_unitario
        
print('O faturamento de Iphone no dia 20/08/2020 foi de {}'.format(faturamento))

O faturamento de Iphone no dia 20/08/2020 foi de 7400000

In [35]:
# qual o produto mais vendido em unidades dia 21/08?

qtde_produto_mais_vendido = 0

for item in vendas:
    data, produto, cor, capacidade, unidades, alor_unitario = item
    if data == '21/08/2020':
        if unidades > qtde_produto_mais_vendido:
            produto_mais_vendido = produto
            qtde_produto_mais_vendido = unidades
            
            
        
print('Meu produto mais vendido no dia 21/08/2020 foi o {} com {} unidades'.format(produto_mais_vendido, qtde_produto_mais_vendido)

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_7688/246906302.py, line 14)

In [4]:
meta = 10000
vendas = [
    ('João', 15000),
    ('Julia', 27000),
    ('Marcus', 9900),
    ('Maria', 3750),
    ('Ana', 10300),
    ('Alon', 7870),
]

for vendedor, qtde in vendas:
    if qtde >= meta:
        print('{} bateu a meta, vendeu {} unidades'.format(vendedor, qtde))

João bateu a meta, vendeu 15000 unidades
Julia bateu a meta, vendeu 27000 unidades
Ana bateu a meta, vendeu 10300 unidades

In [5]:
# dado: produto, venda 2019, venda 2020

vendas_produtos = [('iphone', 558147, 951642), ('galaxy', 712350, 244295), ('ipad', 573823, 26964), ('tv', 405252, 787604), ('máquina de café', 718654, 867660), ('kindle', 531580, 78830), ('geladeira', 973139, 710331), ('adega', 892292, 646016), ('notebook dell', 422760, 694913), ('notebook hp', 154753, 539704), ('notebook asus', 887061, 324831), ('microsoft surface', 438508, 667179), ('webcam', 237467, 295633), ('caixa de som', 489705, 725316), ('microfone', 328311, 644622), ('câmera canon', 591120, 994303)]

for produto, vendas2019, vendas2020 in vendas_produtos:
    if vendas2020> vendas2019:
        print('{} teve {} vendas em 2019, {} vendas em 2020. Crescimento de {:.1%}')

{} teve {} vendas em 2019, {} vendas em 2020. Crescimento de {:.1%}
{} teve {} vendas em 2019, {} vendas em 2020. Crescimento de {:.1%}
{} teve {} vendas em 2019, {} vendas em 2020. Crescimento de {:.1%}
{} teve {} vendas em 2019, {} vendas em 2020. Crescimento de {:.1%}
{} teve {} vendas em 2019, {} vendas em 2020. Crescimento de {:.1%}
{} teve {} vendas em 2019, {} vendas em 2020. Crescimento de {:.1%}
{} teve {} vendas em 2019, {} vendas em 2020. Crescimento de {:.1%}
{} teve {} vendas em 2019, {} vendas em 2020. Crescimento de {:.1%}
{} teve {} vendas em 2019, {} vendas em 2020. Crescimento de {:.1%}
{} teve {} vendas em 2019, {} vendas em 2020. Crescimento de {:.1%}

In [7]:
# dado: produto, venda 2019, venda 2020

vendas_produtos = [('iphone', 558147, 951642), ('galaxy', 712350, 244295), ('ipad', 573823, 26964), ('tv', 405252, 787604), ('máquina de café', 718654, 867660), ('kindle', 531580, 78830), ('geladeira', 973139, 710331), ('adega', 892292, 646016), ('notebook dell', 422760, 694913), ('notebook hp', 154753, 539704), ('notebook asus', 887061, 324831), ('microsoft surface', 438508, 667179), ('webcam', 237467, 295633), ('caixa de som', 489705, 725316), ('microfone', 328311, 644622), ('câmera canon', 591120, 994303)]

for produto, vendas2019, vendas2020 in vendas_produtos:
    crescimento = vendas2020 / vendas2019 - 1
    if vendas2020> vendas2019:
        print('{} teve {} vendas em 2019, {} vendas em 2020. Crescimento de {:.1%}'.format(produto, vendas2019, vendas2020, crescimento))

iphone teve 558147 vendas em 2019, 951642 vendas em 2020. Crescimento de 70.5%
tv teve 405252 vendas em 2019, 787604 vendas em 2020. Crescimento de 94.3%
máquina de café teve 718654 vendas em 2019, 867660 vendas em 2020. Crescimento de 20.7%
notebook dell teve 422760 vendas em 2019, 694913 vendas em 2020. Crescimento de 64.4%
notebook hp teve 154753 vendas em 2019, 539704 vendas em 2020. Crescimento de 248.8%
microsoft surface teve 438508 vendas em 2019, 667179 vendas em 2020. Crescimento de 52.1%
webcam teve 237467 vendas em 2019, 295633 vendas em 2020. Crescimento de 24.5%
caixa de som teve 489705 vendas em 2019, 725316 vendas em 2020. Crescimento de 48.1%
microfone teve 328311 vendas em 2019, 644622 vendas em 2020. Crescimento de 96.3%
câmera canon teve 591120 vendas em 2019, 994303 vendas em 2020. Crescimento de 68.2%